resources/tmp.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sddhr:pain.002.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sddhr:pain.002.001.03" elementFormDefault="qualified">
	<xs:complexType name="Party6Choice_HR5">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4_HR2"/>
				<xs:element name="PrvtId" type="PersonIdentification5_HR4"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_HR5">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice_HR5" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>